/* ************* FONTS ************* */


@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-light';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-medium';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-extrabold';
    src: url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ***************************************
***************** GENERAL **************** 
*************************************** */

* {
    box-sizing: border-box;
}

body {
    font-family: 'raleway', Helvetica, sans-serif;
    font-size: 14px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
    padding-left: 65px;
}

.left {
    float: left;
}

.right {
    float: right;
}

h1 {
    font-family: 'raleway-light', Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}

h2 {
    font-family: 'raleway-medium', Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #27c7ab;
    text-transform: uppercase;
    margin-top: 0px;
}

h3 {
    width: 320px;
    text-transform: uppercase;
    font-family: 'raleway-medium', Helvetica, sans-serif;
    font-size: 22px;
    font-weight: normal;
    color: #595959;
    line-height: 30px;
    border-bottom: 8px solid #22b89f;
    margin-top: 0px;
    text-indent: 3px;
}

a {
    text-decoration: none;
}

/* ***************************************
****************** HEADER **************** 
*************************************** */


/* ********** navigation bar ********** */

.navbar {
    background-color: #000;
}

.navbar::after{
    clear: both;
    display: block;
    content: "";
}

.navbar a {
    color: #FFF;
    text-transform: uppercase;
}

.aqua {
    font-family: 'raleway', Helvetica, sans-serif;
    font-weight: bold;
    color: #27c7ab;
}

.menu {
    margin-right: 55px;
}

ul.menu li {
    display: inline-block;
    padding: 0 24px;
}

menu li a {
    font-family: 'raleway-semibold', Helvetica, sans-serif;
}

.dropbtn {
    font-family: 'raleway-semibold', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #000;
    color: #FFF;
    padding: 0;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 34px;
    left: -25px;
    background-color: transparent;
    width: 120px;
    z-index: 1;
}

.dropdown-links {
    background-color: #000;
    padding: 6px 12px;
}

.dropdown-content a {
    font-size: 16px;
    font-family: 'raleway', Helvetica, sans-serif;
    font-weight: normal;
    background-color: #000;
    color: #fff;
    padding: 6px 0;
    text-decoration: none;
    text-transform: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow-up {
    width: 0; 
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #000;
    margin-left: 52px;
}



/* ********** slider ********** */

.slider {
    background: rgba(251,251,251,1);
    background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,251,251,1)), color-stop(65%, rgba(251,251,251,1)), color-stop(100%, rgba(203,202,207,1)));
    background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
    background: -o-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
    background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
    background: linear-gradient(to bottom, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
    height: 500px;
}

.slider-background {
    background-image: url(../img/black_chair.png);
    background-repeat: no-repeat;
    background-position: -30px 60px;
    background-size: 590px 424px;
    position: relative;
    height: 500px;
}

.slider::after {
    clear: both;
    display: block;
    content: "";
}

.arrow a {
    font-family: 'raleway-light', Helvetica, sans-serif;
    font-size: 78px;
    color: #27c7ab;
    position: absolute;
    top: 200px;
}

.arrow.right {
    position: absolute;
    right: 125px;
}

.slider-text {
    width: 450px;
    height: 270px;
    border: 1px solid red;
    position: absolute;
    top: 105px;
    right: 210px;
}

.slider-text p {
    text-align: center;
    line-height: 1.5;
}

.slider-button {
    display: inline-block;
    font-family: 'raleway-medium', Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    width: 265px;
    height: 50px;
    padding-top: 13px;
    background-color: #27c7ab;
    border-radius: 8px;
    position: relative;
    left: 90px;
    top: 20px;
}


/* ***************************************
******************* MAIN ***************** 
*************************************** */

/* ********** gallery ********** */

.gallery {
    padding-top: 30px;
    padding-bottom: 70px;
}

.gallery::after {
    clear: both;
    display: block;
    content: "";
}

.gallery-image {
    width: 329px;
    height: 225px;
    margin-right: 27px;
    position: relative;
}

.stripe {
    width: 329px;
    height: 62px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    bottom: 15px;
    padding: 15px 0 0 15px;
}

.gallery a {
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    border-bottom: 6px solid #28c6ad;
}

.clair {
    background-image: url(../img/box1_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.margarita {
    background-image: url(../img/box2_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-text {
    width: 340px;
    height: 255px;
    border: 1px solid #dbdbdb;
    padding: 25px 20px;
}
.gallery p {
    color: #6a6a6a;
    line-height: 1.5em;
}

/* ********** prices ********** */

.pricing {
    background-color: #f1f1f1;
    padding-top: 45px;
}

.pricing::after {
    clear: both;
    display: block;
    content: "";
}

.pricing-frame {
    width: 330px;
    height: 501px;
    background-color: #f9f9f9;
    border: 2px solid #d3d3d3;
    border-radius: 2px;
    position: relative;
    text-align: center;
    margin: 50px 31px 65px 0px;
}

.pricing-frame-white-circle {
    width: 53px;
    height: 53px;
    border: 14px solid #fff;
    background-color: #c2c2c2;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #d3d3d3;
    position: absolute;
    top: -37px;
    left: 139px;
}


.pricing-frame-text {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.pricing-tag {
    width: 130px;
    height: 130px;
    margin: 0 auto 35px;
    color: #c4c4c4;
    background-color: #fff;
    border: 2px solid #dadada;
    border-radius: 50%;
}

.price {
    font-size: 46px;
    font-weight: bold;
    line-height: 30px;
    margin: 35px 0 0 10px;
}

.cents {
    font-family: 'raleway-semibold', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    position: relative;
    top: -25px;
}

.price-description {
    font-family: 'raleway-semibold', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
}

.feature {
    font-size: 24px;
    color: #757575;
    text-align: center;
    height: 44px;
    padding: 7px;
}

.feature:nth-of-type(2n) {
    background-color: #e4e4e4;
    color: #999999;
}

.feature:nth-of-type(2n+1) {
    background-color: #f1f1f1;
}

.pricing-frame-button {
    position: absolute;
    top: 453px;
    left: 100px;
}

.pricing-frame-button a {
    font-family: 'raleway-semibold', Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 7px 30px;
    background-color: #27c7ab;
    border-radius: 8px;
}

/* ** modifications for middle pricing frame ** */

.pricing-frame:nth-of-type(2){
    background-color: #27c7ab;
    border: 2px solid #27c7ab;
}

.pricing-frame:nth-of-type(2) .pricing-frame-white-circle {
    border: 15px solid #27c7ab;
    background-color: #fff;
    box-shadow: none;
}

.pricing-frame:nth-of-type(2) .pricing-tag {
    border: 2px solid #27c7ab;
    border-radius: 50%;
    color: #27c7ab;
}

.pricing-frame:nth-of-type(2) .pricing-frame-text h2 {
    color: #ffffff;
}

.pricing-frame:nth-of-type(2) .feature:nth-of-type(2n) {
    background-color: #ffffff;
}

.pricing-frame:nth-of-type(2) .pricing-frame-button a {
    color: #27c7ab;
    background-color: #ffffff;
}

/* ********** contact form ********** */

.contact-form {
    padding-top: 30px;
}

.contact-form::after {
    clear: both;
    display: block;
    content: "";
}

.inputs-data {
    width: 635px;
    height: 480px;
    margin-right: 60px;
}

.inputs-data input {
    display: inline-block;
    width: 635px;
    height: 66px;
    border: 1px solid #a1e6d1;
    margin-top: 25px;
}

.inputs-data input[placeholder], .inputs-data textarea[placeholder] {
    font-family: 'raleway-light', Helvetica, sans-serif;
    font-size: 32px;
    text-indent: 10px;
}

.inputs-data textarea {
    display: inline-block;
    width: 635px;
    height: 190px;
    resize: none;
    border: 1px solid #a1e6d1;
    margin-top: 25px;
    padding-top: 12px;
}

.inputs-submit {
    width: 350px;
}

.contact-form-image {
    background-image: url(../img/red_chair.png);
    width: 264px;
    height: 210px;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid red;
    margin-bottom: 35px;
}

.agree input[type=checkbox] {
    display:none;
}
 
.agree input[type=checkbox] + label {
    background-image: url(../img/form_ok.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    display: inline-block;
    padding: 0;
    border: 1px solid #a1e6d1; 
}

.agree input[type=checkbox]:checked + label {
    background-image: url(../img/form_ok.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    display: inline-block;
    padding: 0;
    border: 1px solid #a1e6d1; 
}

.agreement-text {
    margin-bottom: 10px;
}

.agreement-text p {
    color: #c1c1c1;
    font-family: 'raleway-light', Helvetica, sans-serif;
    font-size: 20px;
    width: 300px;
    padding: 0 0 0 10px;
    margin-top: 3px;
}

.agreement-text::after {
    clear: both;
    display: block;
    content: "";
}

.agree input[type=submit] {
    width: 350px;
    height: 70px;
    background-color: #24ba9f;
    border: none;
    border-radius: 8px;
    font-family: 'raleway', sans-serif;
    font-size: 32px;
    font-weight: bolder;
    color: #ffffff;
}

/* ***************************************
****************** FOOTER **************** 
*************************************** */

footer .container {
    padding-bottom: 25px;
}

footer .container::after {
    clear: both;
    display: block;
    content: "";
}

footer p {
    font-family: 'raleway-medium', Helvetica, sans-serif;
    font-size: 16px;
    color: #a9a9a9;
}

footer .right a {
    font-family: 'raleway-semibold', Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #989898;
}

.footer-logo {
    margin-right: 75px;
}

.footer-logo span {
    font-family: 'raleway-extrabold', Helvetica, sans-serif;
}

.social {
    margin-right: 80px;
}