/* ************* FONTS ************* */

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

/* UWAGA DO CZCIONEK : RALEWAY BĘDZIE CHYBA SEMIBOLD JAKO BOLD WTF */

/*

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: bolder;
    font-style: normal;

}

*/


/* ***************************************
***************** GENERAL **************** 
*************************************** */

* {
    box-sizing: border-box;
}

body {
    font-family: 'raleway', Helvetica, sans-serif;
    font-size: 14px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
    padding: 0px 65px;
}

.left {
    float: left;
}

.right {
    float: right;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h3 {
    width: 320px;
    text-transform: uppercase;
    font-size: 22px;
    color: #595959;
    font-weight: normal;
    line-height: 30px;
    border-bottom: 8px solid #22b89f;
    margin-bottom: 22px;
}

a {
    text-decoration: none;
}

/* ***************************************
****************** HEADER **************** 
*************************************** */


/* ********** navigation bar ********** */

.navbar {
    background-color: #000;
}

.navbar::after{
    clear: both;
    display: block;
    content: "";
}

.navbar a {
    color: #FFF;
    text-transform: uppercase;
}

.aqua {
    font-weight: bold;
    color: #27c7ab;
}

ul.menu li {
    display: inline-block;
    padding: 0 15px;
}

ul.menu li a {
    font-weight: bold;
}

/* ********** slider ********** */

.slider {
    background: rgba(251,251,251,1);
    background: -moz-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,251,251,1)), color-stop(65%, rgba(251,251,251,1)), color-stop(100%, rgba(203,202,207,1)));
    background: -webkit-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
    background: -o-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
    background: -ms-linear-gradient(top, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
    background: linear-gradient(to bottom, rgba(251,251,251,1) 0%, rgba(251,251,251,1) 65%, rgba(203,202,207,1) 100%);
    height: 500px;
}

.slider .container {
    background-image: url(../img/black_chair.png);
    background-repeat: no-repeat;
    background-position: -30px 60px;
    background-size: 590px 424px;
    position: relative;
    height: 500px;
}

.slider .container::after {
    clear: both;
    display: block;
    content: "";
}

.arrow-left a {
    float: left;
    font-size: 90px; /*poprawić font-weight!!! albo font-family czy co */
    color: #27c7ab;
    padding: 20px;
    position: absolute;
    top: 160px;
}

.arrow-right a {
    float: right;
    font-size: 90px; /*poprawić font-weight!!! albo font-family czy co */
    color: #27c7ab;
    padding: 20px;
    position: absolute;
    top: 160px;
    right: 0px;
}

.slider-text {
    width: 500px;
    border: 1px solid red;
    margin-right: 150px;
    margin-top: 100px;
}


.slider-text p {
    text-align: center;
}


/* ***************************************
******************* MAIN ***************** 
*************************************** */

/* ********** gallery ********** */

.gallery {
    margin-top: 27px;
}

.gallery::after {
    clear: both;
    display: block;
    content: "";
}

.gallery-image {
    width: 329px;
    height: 225px;
    margin-right: 27px;
    position: relative;
}

.stripe {
    width: 329px;
    height: 62px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    bottom: 15px;
}

.gallery a {
    display: inline-block;
    color: black;
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    border-bottom: 6px solid #22b89f;
}

.clair {
    background-image: url(../img/box1_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.margarita {
    background-image: url(../img/box2_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-text {
    width: 340px;
    height: 255px;
    border: 1px solid #dbdbdb;
}
.gallery p {
    color: #6a6a6a;
    line-height: 1.5em;
}

/* ********** prices ********** */

.pricing {
    background-color: #f1f1f1;
}

.pricing .container::after {
    clear: both;
    display: block;
    content: "";
}

.pricing-frame {
    width: 325px;
    height: 500px;
    background-color: #f9f9f9;
    border: 2px solid #d3d3d3;
    border-radius: 2px;
    position: relative;
    text-align: center;
    margin: 20px 30px 65px 0px;
}

.pricing-frame-white-circle {
    width: 55px;
    height: 55px;
    border: 15px solid #fff;
    background-color: #c2c2c2;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #d3d3d3;
    position: absolute;
    top: -30px;
    left: 130px;
}


.pricing-frame-text {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.pricing-frame-text h2 {
    font-size: 26px;
    font-weight: lighter;
    color: #27c7ab;
    text-transform: uppercase;
}

.pricing-tag {
    width: 130px;
    height: 130px;
    margin: 0 auto 35px;
    color: #c4c4c4;
    background-color: #fff;
    border: 2px solid #dadada;
    border-radius: 50%;
}

.price {
    font-size: 46px;
    font-weight: bolder;

    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 5px;
}

.cents {
    font-size: 16px;
    position: relative;
    top: -25px;
}

.price-description {
    text-transform: uppercase;
    margin-top: 5px;
    font-weight: bold;
}

.feature {
    font-size: 22px;
    color: #757575;
    text-align: center;
    height: 40px;
    padding: 6px;
}

.feature:nth-of-type(2n) {
    background-color: #e4e4e4;
    color: #999999;
}

.feature:nth-of-type(2n+1) {
    background-color: #f1f1f1;
}

.pricing-frame-button {
    position: absolute;
    top: 450px;
    left: 100px;
}

.pricing-frame-button a {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 30px;
    background-color: #27c7ab;
    border-radius: 8px;
}

/* ** modifications for middle pricing frame ** */

.pricing-frame:nth-of-type(2){
    background-color: #27c7ab;
    border: 2px solid #27c7ab;
}

.pricing-frame:nth-of-type(2) .pricing-frame-white-circle {
    border: 15px solid #27c7ab;
    background-color: #fff;
    box-shadow: none;
}

.pricing-frame:nth-of-type(2) .pricing-tag {
    border: 2px solid #27c7ab;
    border-radius: 50%;
    color: #27c7ab;
}

.pricing-frame:nth-of-type(2) .pricing-frame-text h2 {
    color: #ffffff;
}

.pricing-frame:nth-of-type(2) .feature:nth-of-type(2n) {
    background-color: #ffffff;
}

.pricing-frame:nth-of-type(2) .pricing-frame-button a {
    color: #27c7ab;
    background-color: #ffffff;
}

/* ********** contact form ********** */

.contact-form .container::after {
    clear: both;
    display: block;
    content: "";
}

.inputs-data {
    width: 637px;
    height: 500px;
    margin-right: 60px;
}

.inputs-data input {
    display: inline-block;
    width: 635px;
    height: 65px;
    border: 1px solid #a1e6d1;
    margin-top: 25px;
}

.inputs-data input[placeholder], .inputs-data textarea[placeholder] {
    font-family: 'raleway';
    font-size: 28px;
    text-indent: 10px;
}

.inputs-data textarea {
    display: inline-block;
    width: 635px;
    height: 190px;
    resize: none;
    border: 1px solid #a1e6d1;
    margin-top: 25px;
}

.inputs-data textarea[placeholder] {
    padding-top: 10px;
}

.inputs-submit {
    width: 350px;
}

.contact-form-image {
    background-image: url(../img/red_chair.png);
    width: 264px;
    height: 210px;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid red;
    margin-bottom: 35px;
}

.agree input[type=checkbox] {
    display:none;
}
 
.agree input[type=checkbox] + label {
    background-image: url(../img/form_ok.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    display: inline-block;
    padding: 0;
    border: 1px solid #a1e6d1; 
}

.agree input[type=checkbox]:checked + label {
    background-image: url(../img/form_ok.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    display: inline-block;
    padding: 0;
    border: 1px solid #a1e6d1; 
}

.agreement-text {
    margin-bottom: 10px;
}

.agreement-text p {
    color: #c1c1c1;
    font-size: 20px;
    font-weight: lighter;
    width: 300px;
    padding: 0 0 0 10px;
    margin-top: 3px;
}

.agreement-text::after {
    clear: both;
    display: block;
    content: "";
}

.agree input[type=submit] {
    width: 350px;
    height: 70px;
    background-color: #24ba9f;
    border: none;
    border-radius: 8px;
    font-family: 'raleway', sans-serif;
    font-size: 32px;
    font-weight: bolder;
    color: #ffffff;
}

/* ***************************************
****************** FOOTER **************** 
*************************************** */

footer .container::after {
    clear: both;
    display: block;
    content: "";
}

.social {
    margin-right: 30px;
}